# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

# Chef
chef-repo/.chef/*.pem
chef-rep/.chef/encrypted_data_bag_secret
chef-repo/.chef/


chef-repo/.gitignore
.gitignore

../../.DS_Store
.DS_Store